
.login-box{
    width: 500px;
}
.login-overlay {
  position: fixed;         /* sits on top of everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dim background */
  z-index: 2000;            /* ABOVE navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}

